[user]
  name = Christian Sauer
  email = sauerc@gmail.com
[alias]
  s = !git fetch --all --quiet && git status -sb
  ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
  lsv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
  tree-log = log --all --graph --decorate --oneline
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  who = !git log --pretty=format:"%an" | sort | uniq
[pull]
  rebase = true
[push]
  default = upstream
[ui]
  color = true
[color]
  ui = 1
[branch]
  autosetuprebase = always
[core]
  excludesfile = ~/.gitignore_global
[merge]
  tool = kdiff3
  keepbackup = false
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Biz Apps/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[http]
  postbuffer = 524288000
