[include]
  path = .gitconfig.local
[alias]
  s = !git fetch --all --quiet && git status -sb
  ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
  lsv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
  tree-log = log --all --graph --decorate --oneline
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  who = !git log --pretty=format:"%an" | sort | uniq
[pull]
  rebase = true
[push]
  default = current
[color]
  ui = true
[branch]
  autoSetupRebase = always
[core]
  excludesfile = ~/.gitignore_global
  trustctime = false
[http]
  postbuffer = 524288000
[remote]
  pushDefault = origin
[gui]
  diffcontext = 99
[cola]
	spellcheck = false
[merge]
	tool = extMerge
[mergetool "extMerge"]
	cmd = extMerge.sh "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	trustExitCode = false
[diff]
	external = extDiff.sh
