[alias]
         s = !git fetch --all --quiet && git status -sb
        sw = switch
        sb = status -sb 
        ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s %C(green)[%an]' --decorate --date=short
       lsv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s %C(green)[%an]' --decorate --date=short --numstat
        lg = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s %C(bold blue)(%cr) %C(no-bold green)[%an]%C(reset)' --date=short --abbrev-commit --color --graph 
  tree-log = log --all --graph --decorate --oneline
       who = !git log --pretty=format:"%an" | sort | uniq
[pull]
  rebase = true
[push]
  default = current
[color]
  ui = true
[branch]
  autoSetupRebase = always
[core]
	excludesfile = ~/.gitignore_global
  trustctime = false
[http]
  postbuffer = 524288000
[remote]
  pushDefault = origin
[gui]
	diffcontext = 10
	tabsize = 4
[cola]
	spellcheck = false
[init]
	defaultBranch = main
[include]
  path = ~/.gitconfig.local
[user]
	name = Christian Sauer
	email = sauerc@gmail.com
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[advice]
	skippedCherryPicks = false
[fetch]
	prune = true
